  .heading
  {
    font-size: 30px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .header_div
  {
    font-size: 20px;
    float: none;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .header_div2
  {
    font-size: 18px ;
    float: none;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  
  .copy_right_footer{
    background-color: grey;
    font-size: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 3;
  }

  canvas{
    margin-top: 160px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;

  }